<%= simple_form_for([:admin, @load, @pickup_location], html: { class: 'form' }) do |f| %>
  <%= f.input :location_id, collection: Location.all %>
  <div class='row'>
    <div class='col-md-4'><%= f.input :appt_date, html5: true %></div>
    <div class='col-md-4'><%= f.input :ref_number %></div>
    <div class='col-md-4'><%= f.input :contact %></div>
  </div>
  <div class='row'>
    <div class='col-md-4'><%= f.input :skids %></div>
    <div class='col-md-4'><%= f.input :cases %></div>
    <div class='col-md-4'><%= f.input :weight %></div>
  </div>
  <div class='row'>
    <div class='col-md-4'><%= f.input :ltl %></div>
    <div class='col-md-4'><%= f.input :commodity %></div>
    <div class='col-md-4'><%= f.input :notes, as: :text %></div>
  </div>
  <%= f.submit 'Submit', class: 'btn btn-sm btn-primary' %>
  <%= link_to 'Back', [:admin, @load], class: 'btn btn-sm btn-secondary' %>
<% end %>