<div class='primary-header'>
  Locations
  <span class='float-right'>
    <%= link_to 'Add Location', [:new, :admin, :location], remote: true, data: { toggle: "modal", target: "#myModal" }, class: 'btn btn-sm btn-primary' %>
  </span>
</div>
<div class='table-responsive small'>
  <table class='table table-sm table-bordered'>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Address</th>
        <th>Contact</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Toll Free</th>
        <th>Fax</th>
        <th>Loading Info</th>
        <th>Receiving Info</th>
        <th>Additional</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @locations.each do |location| %>
        <tr>
          <td><%= location.id %></td>
          <td><%= location.name %></td>
          <td><%= location.primary_address.full_address %></td>
          <td><%= location.contact %></td>
          <td><%= location.email%></td>
          <td><%= location.phone %></td>
          <td><%= location.toll_free %></td>
          <td><%= location.fax %></td>
          <td><%= location.loading_info %></td>
          <td><%= location.receiving_info %></td>
          <td><%= location.additional_info %></td>
          <td><%= link_to 'Show', [:admin, location], class: 'btn btn-xs btn-outline-primary' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
