<div class='primary-header'>
  Customers and Carriers
  <span class='float-right'>
    <%= link_to 'Add Customer/Carrier', [:new, :admin, :company], class: 'btn btn-sm btn-primary' %>
  </span>
</div>
<div class='table-responsive small'>
  <table class='table table-sm table-bordered'>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>Province</th>
        <th>Country</th>
        <th>Zip</th>
        <th>Phone</th>
        <th>Fax</th>
        <th>Email</th>
        <th>Customer</th>
        <th>Carrier</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @companies.each do |company| %>
        <tr>
          <td><%= company.id %></td>
          <td><%= company.name %></td>
          <td><%= company.address %></td>
          <td><%= company.city %></td>
          <td><%= company.province %></td>
          <td><%= company.country %></td>
          <td><%= company.zip %></td>
          <td><%= company.phone %></td>
          <td><%= company.fax %></td>
          <td><%= company.email %></td>
          <td><%= company.is_customer %></td>
          <td><%= company.is_carrier %></td>
          <td><%= link_to 'Show', [:admin, company], class: 'btn btn-xs btn-outline-primary' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
