<div class='primary-header'>
  <%= @customer.name %>
  <small class='text-muted'>Customer Information</small>
  <span class='float-right'>
    <%= link_to 'Edit', [:edit, :admin, @customer], class: 'btn btn-sm btn-danger' %>
    <%= link_to 'Back', [:admin, :customers], class: 'btn btn-sm btn-secondary' %>
  <span>
</div>
<div class='row'>
  <div class='col-md-4'>
    <div class='secondary-header'>Address & Contact</div>
    <dl class='row'>
      <dt class='col-sm-4'>Address</dt>
      <dd class='col-sm-8'>
        <div><%= @address.address_line_1 %></div>
        <div><%= @address.city %>, <%= @address.state_province %></div>
        <div><%= @address.country %></div>
        <div><%= @address.zipcode %></div>
      </dd>

      <dt class='col-sm-4'>Phone</dt>
      <dd class='col-sm-8'><%= @customer.phone %></dd>

      <dt class='col-sm-4'>Toll Free</dt>
      <dd class='col-sm-8'><%= @customer.toll_free %></dd>

      <dt class='col-sm-4'>Fax</dt>
      <dd class='col-sm-8'><%= @customer.fax %></dd>

      <dt class='col-sm-4'>Email</dt>
      <dd class='col-sm-8'><%= @customer.email %></dd>

      <dt class='col-sm-4'>Billing Address</dt>
      <dd class='col-sm-8'>
        <div><%= @billing_address.address_line_1 %></div>
        <div><%= @billing_address.city %>, <%= @billing_address.state_province %></div>
        <div><%= @billing_address.country %></div>
        <div><%= @billing_address.zipcode %></div>
      </dd>
    </dl>
    <%= link_to 'Back', [:admin, :customers], class: 'btn btn-sm btn-secondary' %>
    <%= link_to 'Edit', [:edit, :admin, @customer], class: 'btn btn-sm btn-danger' %>
  </div>
  <div class='col-md-4'>
    <div class='row table-header'>
      <div class='col'>
        <div class='secondary-header'>Locations</div>
      </div>
      <div class='col'>
        <span class='float-right'>
          <%= link_to 'Add location', [:new, :admin, @customer, :customer_location], class: 'btn btn-sm btn-primary' %>
        </span>
      </div>
    </div>
    <div class='small table-responsive'>
      <table class='table table-bordered table-sm'>
        <thead>
          <tr>
            <th>Name</th>
            <th colspan='2'>Address</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @customer.customer_locations.each do |cl| %>
            <tr>
              <td><%= cl.location.name %></td>
              <td><%= cl.location.primary_address.address_line_1 %></td>
              <td><%= cl.location.primary_address.city %> <%= cl.location.primary_address.state_province %></td>
              <td>
                <%= link_to 'Show', [:admin, cl.location], class: 'btn-link btn-xs' %>
                <%= link_to 'Delete', [:admin, @customer, cl], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn-link btn-xs' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class='col-md-4'>
    <div class='secondary-header'>Safety Compliances</div>
  </div>
</div>
