<% if user_signed_in? %>
  <nav class='navbar navbar-expand-sm bg-light navbar-light'>
    <%= link_to 'DMS', root_path, class: 'navbar-brand' %>
    <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#collapsibleNavbar'>
      <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse' id='collapsibleNavbar'>
      <ul class='navbar-nav'>
        <li class='nav-item'>
          <%= link_to 'Drivers', [:admin, :drivers], class: 'nav-link' %>
        </li>
        <li class='nav-item'>
          <%= link_to 'Customers', [:admin, :customers], class: 'nav-link' %>
        </li>
        <li class='nav-item'>
          <%= link_to 'Locations', [:admin, :locations], class: 'nav-link' %>
        </li>
        <li class='nav-item'>
          <%= link_to 'Equipment', admin_equipment_index_path, class: 'nav-link' %>
        </li>
        <li class='nav-item'>
          <%= link_to 'Vendors', [:admin, :vendors], class: 'nav-link' %>
        </li>
        <% if policy(Load.new).index? %>
          <li class='nav-item'>
            <%= link_to 'Loads', [:admin, :loads], class: 'nav-link' %>
          </li>
        <% end %>
        <li class='nav-item'>
          <%= link_to 'Company', [:admin, Company.first], class: 'nav-link' %>
        </li>
        <% if policy(User.new).index? %>
          <li class='nav-item'>
            <%= link_to 'Users', [:admin, :users], class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
    <form class='form-inline' action='/search'>
      <input class='form-control mr-sm-2' type='text' placeholder='Search'>
      <button class='btn' type='submit'>Search</button>
    </form>
    <ul class='navbar-nav'>
      <li class='nav-item'>
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
      </li>
    </ul>
  </nav>
<% end %>
