<%= simple_form_for([:admin, @load], html: { class: 'form' }) do |f| %>
  <div class='row'>
    <div class='col-md-6'>
      <div class='row'>
        <div class='col-md-8'><%= f.input :customer_id, collection: Customer.all %></div>
        <div class='col-md-4'><%= f.input :customer_ref_number %></div>
      </div>
      <div class='row'>
        <div class='col-md-4'><%= f.input :currency, collection: Currency.list, selected: 'CAD' %></div>
        <div class='col-md-4'><%= f.input :customer_rate %></div>
        <div class='col-md-4'><%= f.input :vendor_cost %></div>
      </div>
      <div class='row'>
        <div class='col-md-6'><%= f.input :vendor_id, collection: Vendor.all.collect { |v| [v.internal_name, v.id] } %></div>
        <div class='col-md-6'><%= f.input :driver_id, collection: Driver.all %></div>
      </div>
      <%= f.input :customer_notes, as: :text %>
      <div class='row'>
        <div class='col-md-4'>
          <%= f.input :equipment_type, collection: EquipmentType.list, selected: 'Super B' %>
        </div>
        <div class='col-md-4'>
          <%= f.input :picked_up %>
          <%= f.input :delivered %>
          <%= f.input :invoiced %>
        </div>
        <div class='col-md-4'>
          <%= f.input :payment_received %>
          <%= f.input :paid_to_vendor %>
        </div>
      </div>
      <%= f.submit 'Submit', class: 'btn btn-sm btn-primary' %>
      <%= link_to 'Back', back_url(@load), class: 'btn btn-sm btn-secondary' %>
    </div>
    <div class='col-md-6'>
      <div class='row'>
        <div class='col-md-12'>
          <div class='secondary-header'>Pickup Locations</div>
          <%= f.simple_fields_for :pickup_locations do |lpl| %>
            <%= render 'admin/pickup_locations/input_fields', f: lpl %>
          <% end %>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-12'>
          <div class='secondary-header'>Drop Locations</div>
          <%= f.simple_fields_for :drop_locations do |lpl| %>
            <%= render 'admin/drop_locations/input_fields', f: lpl %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
