<%= simple_form_for([:admin, @load], html: { class: 'form' }) do |f| %>
  <div class='row'>
    <div class='col-md-6'>
      <div class='row'>
        <div class='col-md-8'><%= f.input :customer_id, collection: Customer.all %></div>
        <div class='col-md-4'><%= f.input :customer_ref_number %></div>
      </div>
      <div class='row'>
        <div class='col-md-4'><%= f.input :currency, collection: Currency.list %></div>
        <div class='col-md-4'><%= f.input :customer_rate %></div>
        <div class='col-md-4'><%= f.input :vendor_cost %></div>
      </div>
      <%= f.input :customer_notes, as: :text %>
      <div class='row'>
        <div class='col-md-4'>
          <%= f.input :picked_up %>
          <%= f.input :delivered %>
          <%= f.input :invoiced %>
        </div>
        <div class='col-md-4'>
          <%= f.input :payment_received %>
          <%= f.input :paid_to_vendor %>
        </div>
      </div>
      <%= f.submit 'Submit', class: 'btn btn-sm btn-primary' %>
      <%= link_to 'Back', [:admin, :loads], class: 'btn btn-sm btn-secondary' %>
    </div>
    <div class='col-md-6'>
      <div class='row'>
        <div class='col-md-12'>
          <div class='secondary-header'>Pickup Locations</div>
          <%= f.simple_fields_for :pickup_locations do |lpl| %>
            <div class='row'>
              <div class='col-md-3'><%= lpl.input :location, collection: Location.all %></div>
              <div class='col-md-3'><%= lpl.input :appt_date, html5: true %></div>
              <div class='col-md-3'><%= lpl.input :ref_number %></div>
              <div class='col-md-3'><%= lpl.input :contact %></div>
            </div>
            <div class='row'>
              <div class='col-md-3'><%= lpl.input :skids %></div>
              <div class='col-md-3'><%= lpl.input :cases %></div>
              <div class='col-md-3'><%= lpl.input :weight %></div>
              <div class='col-md-3'><%= lpl.input :commodity %></div>
            </div>
            <div class='row'>
              <div class='col-md-9'><%= lpl.input :notes, as: :text %></div>
              <div class='col-md-3'><%= lpl.input :ltl %></div>
            </div>
          <% end %>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-12'>
          <div class='secondary-header'>Drop Locations</div>
          <%= f.simple_fields_for :drop_locations do |lpl| %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
