<div class='primary-header'>
  Loads
  <span class='float-right'>
    <%= link_to 'New Load', [:new, :admin, :load], class: 'btn btn-sm btn-primary' %>
  </span>
</div>
<div class='table-responsive small'>
  <table class='table table-sm table-bordered'>
    <thead>
      <tr>
        <th>ID</th>
        <th>Customer</th>
        <th>Pickup</th>
        <th>Date Time</th>
        <th>Drop</th>
        <th>Date Time</th>
        <th>Cust Ref</th>
        <th>Driver Vendor</th>
        <th>Cost</th>
        <th>Vendor Cost</th>
        <th>Profit</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @loads.each do |load| %>
        <tr>
          <td><%= load.id %></td>
          <td><%= load.customer.try(:name) %></td>
          <td>Mission, BC</td>
          <td>8/11/2018</td>
          <td>Abbotsford, BC</td>
          <td>19/11/2017</td>
          <td><%= load.customer_ref_number %></td>
          <td><%= load.vendor.try(:name) || load.driver.try(:name) %></td>
          <td><%= number_to_currency(load.customer_rate, unit: '$') %></td>
          <td><%= number_to_currency(load.vendor_cost, unit: '$') %></td>
          <td><%= number_to_currency((load.customer_rate.to_f - load.vendor_cost.to_f), unit: '$') %></td>
          <td><%= link_to 'Show', [:admin, load], class: 'btn btn-xs btn-outline-primary' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>