<div class='primary-header'>
  Trip #<%= @load.id %>:
  <%= @load.customer.name %>
  <small class='text-muted'>Load Information</small>
  <span class='float-right'>
    <%= link_to 'Edit', [:edit, :admin, @load], class: 'btn btn-sm btn-danger' %>
    <%= link_to 'Back', [:admin, :loads], class: 'btn btn-sm btn-secondary' %>
  <span>
</div>
<div class='row small'>
  <div class='col-md-4'>
    <div class='secondary-header'>Address & Contact</div>
    <dl class='row'>
      <dt class='col-sm-4'>Customer</dt>
      <dd class='col-sm-8'>
        <div><%= link_to @load.customer.name, [:admin, @load.customer] %></div>
        <div><%= @load.customer.primary_address.city %>, <%= @load.customer.primary_address.state_province %></div>
        <div><%= @load.customer.primary_address.country %></div>
        <div><%= @load.customer.primary_address.zipcode %></div>
      </dd>

      <dt class='col-sm-4'>Equipment</dt>
      <dd class='col-sm-8'><%= @load.equipment_type %></dd>

      <dt class='col-sm-4'>Reference/Order No.</dt>
      <dd class='col-sm-8'><%= @load.customer_ref_number %></dd>

      <dt class='col-sm-4'>Customer Rate</dt>
      <dd class='col-sm-8'><%= number_to_currency(@load.customer_rate.to_f, unit: '$') %> <%= @load.currency %></dd>

      <dt class='col-sm-4'>Vendor Cost</dt>
      <dd class='col-sm-8'><%= number_to_currency(@load.vendor_cost.to_f, unit: '$') %></dd>

      <dt class='col-sm-4'>Carrier</dt>
      <dd class='col-sm-8'><%= @load.vendor.try(:internal_name) %></dd>

      <dt class='col-sm-4'>Driver</dt>
      <dd class='col-sm-8'><%= @load.driver.try(:name) %></dd>

      <dt class='col-sm-4'>Status</dt>
      <dd class='col-sm-8'>
        <div>Picked Up: <strong><%= @load.picked_up %></strong></div>
        <div>Delivered: <strong><%= @load.delivered %></strong></div>
        <div>Invoiced: <strong><%= @load.invoiced %></strong></div>
        <div>Payment Received: <strong><%= @load.payment_received %></strong></div>
        <div>Paid to vendor: <strong><%= @load.paid_to_vendor %></strong></div>
      </dd>
    </dl>
    <%= link_to 'Back', [:admin, :loads], class: 'btn btn-sm btn-secondary' %>
    <%= link_to 'Edit', [:edit, :admin, @load], class: 'btn btn-sm btn-danger' %>
  </div>
  <div class='col-md-8 col-sm-12'>
    <div class='secondary-header small'>Actions</div>
    <%= link_to 'Load Confirmation', [:admin, :load_confirmation], class: 'btn btn-xs btn-outline-primary' %>
    <%= link_to 'Download PDF', [:admin, :load_confirmation, format: :pdf], target: '_blank', class: 'btn btn-xs btn-outline-danger' %>
    <%= link_to 'Email load confirmation', '#', class: 'btn btn-xs btn-outline-primary' %>
    <%= link_to 'Print Driver Dispatch', '#', class: 'btn btn-xs btn-outline-primary' %>
    <%= link_to 'Email Driver Dispatch', '#', class: 'btn btn-xs btn-outline-primary' %>
    <%= link_to 'Text Driver Dispatch', '#', class: 'btn btn-xs btn-outline-primary' %>
    <hr>
    <div class='secondary-header'>
      Pickups
      <span class='float-right'>
        <%= link_to 'Add Pick', [:new, :admin, @load, :pickup_location], class: 'btn btn-sm btn-primary' %>
      </span>
    </div>
    <div class='table-responsive'>
      <table class='table table-sm'>
        <thead>
          <tr>
            <th style='width: 35%'>Name</th>
            <th style='width: 15%'>Contact</th>
            <th style='width: 15%'>Ref #</th>
            <th style='width: 15%'>Appt Date/Time</th>
            <th style='width: 15%'>Commodity</th>
            <th style='width: 5%'></th>
          </tr>
        </thead>
        <tbody>
          <% @load.pickup_locations.each do |pickup| %>
            <tr>
              <td>
                <%= pickup.location.name %><br>
                <%= pickup.location.primary_address.full_address %>
              </td>
              <td><%= pickup.contact %></td>
              <td><%= pickup.ref_number %></td>
              <td>
                <%= pickup.appt_date.strftime("%b %d, %Y") %><br>
                <%= pickup.appt_date.strftime("%I:%M %p") %>
              </td>
              <td>
                <%= pickup.commodity %><br>
                <%= number_with_precision(pickup.weight, precision: 2) %>
              </td>
              <td><%= link_to 'delete', [:admin, @load, pickup], method: :delete, data: { confirm: 'Are you sure? '}, class: 'btn btn-xs btn-danger' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <hr>
    <div class='secondary-header'>
      Drops
      <span class='float-right'>
        <%= link_to 'Add Drop', [:new, :admin, @load, :drop_location], class: 'btn btn-sm btn-primary' %>
      </span>
    </div>
    <div class='table-responsive'>
      <table class='table table-sm'>
        <thead>
          <tr>
            <th style='width: 35%'>Name</th>
            <th style='width: 15%'>Contact</th>
            <th style='width: 15%'>Ref #</th>
            <th style='width: 15%'>Appt Date/Time</th>
            <th style='width: 15%'>Commodity</th>
            <th style='width: 5%'></th>
          </tr>
        </thead>
        <tbody>
          <% @load.drop_locations.each do |drop| %>
            <tr>
              <td>
                <%= drop.location.name %><br>
                <%= drop.location.primary_address.full_address %>
              </td>
              <td><%= drop.contact %></td>
              <td><%= drop.ref_number %></td>
              <td>
                <%= drop.appt_date.strftime("%b %d, %Y") %><br>
                <%= drop.appt_date.strftime("%I:%M %p") %>
              </td>
              <td>
                <%= drop.commodity %><br>
                <%= number_with_delimiter(drop.weight, precision: 2) %>
              </td>
              <td><%= link_to 'delete', [:admin, @load, drop], method: :delete, data: { confirm: 'Are you sure? '}, class: 'btn btn-xs btn-danger' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
