<div class='row'>
  <div class='col-md-12'>
    <%= f.input :number %>
    <%= f.input :issue_date %>
    <%= f.input :expiry_date %>
    <%= f.input :restrictions %>
    <%= f.input :province, collection: State.list.collect { |f| [f[1], f[0]]} %>
    <%= f.submit 'Submit', class: 'btn btn-sm btn-primary' %>
    <%= link_to 'Cancel', [:admin, @driver], class: 'btn btn-sm btn-secondary' %>
  </div>
</div>
