<div class='container h-100'%>
  <div class='d-flex flex-row justify-content-center align-items-center h-100'>
    <div class='wrapper col-md-6 col-sm-8'>
      <h4 class='text-center text-uppercase'>
        <span class='text-weight-bold'>DMS</span>
        <span class='font-weight-light'> - Isher Transport Ltd</span>
      </h4>
      <div class='card rounded-5'>
        <div class='card-header'>
          <h3 class='text-center'>Login</h3>
        </div>
        <div class='card-body'>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
            </div>

            <% if devise_mapping.rememberable? -%>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end -%>

            <div class="actions">
              <%= f.submit "Log in", class: 'btn btn-default btn-success btn-blk' %>
            </div>
          <% end %>

          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
