<div class='primary-header'>
  Drivers
  <span class='float-right'>
    <%= link_to 'Add new driver', [:new, :admin, :driver], class: 'btn btn-sm btn-primary' %>
  </span>
</div>
<div class='table-responsive small'>
  <table class='table table-sm table-bordered'>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>City</th>
        <th>State</th>
        <th>Email</th>
        <th>Cell</th>
        <th>Violations</th>
        <th>Safety Compliances</th>
        <th>Documents</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @drivers.each do |driver| %>
        <tr>
          <td><%= driver.id %></td>
          <td><%= driver.name %></td>
          <td><%= driver.address.try(:city) %></td>
          <td><%= driver.address.try(:state_province) %></td>
          <td><%= driver.email %></td>
          <td><%= driver.cell %></td>
          <td><%= driver.violation_tickets.count %></td>
          <td>4/7</td>
          <td>See all documents</td>
          <td>
            <%= link_to 'Show', [:admin, driver], class: 'btn btn-xs btn-outline-primary' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
