<div class='primary-header'>
  <%= @driver.name %>
  <small class='text-muted'>Personal Information</small>
  <span class='float-right'>
    <%= link_to 'Mark active/inactive', [:admin, @driver], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-warning' %>
    <%= link_to 'Edit', [:edit, :admin, @driver], class: 'btn btn-sm btn-danger' %>
    <%= link_to 'Back', [:admin, :drivers], class: 'btn btn-sm btn-secondary' %>
  </span>
</div>
<div class='row'>
  <div class='col-md-4'>
    <div class='secondary-header'>Basic Information</div>
    <table class='table table-sm table-bordered'>
      <tr>
        <td>Name</td>
        <td><%= @driver.name %></td>
      </tr>
      <tr>
        <td>Address</td>
        <td><%= @driver.address %></td>
      </tr>
      <tr>
        <td>City</td>
        <td><%= @driver.city %></td>
      </tr>
      <tr>
        <td>State</td>
        <td><%= @driver.state %></td>
      </tr>
      <tr>
        <td>Country</td>
        <td><%= @driver.country %></td>
      </tr>
      <tr>
        <td>Zip</td>
        <td><%= @driver.zip %></td>
      </tr>
      <tr>
        <td>Phone</td>
        <td><%= @driver.phone %></td>
      </tr>
      <tr>
        <td>Cell</td>
        <td><%= @driver.cell %></td>
      </tr>
      <tr>
        <td>Email</td>
        <td><%= @driver.email %></td>
      </tr>
      <tr>
        <td>Status Active</td>
        <td><%= @driver.active %></td>
      </tr>
      <tr>
        <td>Date of Birth</td>
        <td><%= @driver.date_of_birth %></td>
      </tr>
      <tr>
        <td>Ability to work</td>
        <td><%= @driver.immigration_status %></td>
      </tr>
      <tr>
        <td>Driver Type</td>
        <td><%= @driver.driver_type %></td>
      </tr>
    </table>
  </div>
  <div class='col-md-4'>
    <div class='row'>
      <div class='col-md-12 small'>
        <div class='secondary-header'>
          Ticket Violations
          <div class='float-right'>
            <%= link_to 'Add new violation', [:new, :admin, @driver, :violation_ticket], class: 'btn btn-sm btn-primary', data: { modal: true } %>
          </div>
        </div>
        <table class='table table-sm'>
          <thead class='small'>
            <tr>
              <th>Vehicle Act</th>
              <th>Description</th>
              <th>Fine Amount</th>
              <th>Points</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @violation_tickets.each do |violation| %>
              <tr>
                <td><%= violation.motor_vehicle_act_section %></td>
                <td><%= violation.description %></td>
                <td><%= violation.fine_amount %></td>
                <td><%= violation.points_deducted %></td>
                <td><%= link_to 'Show', [:admin, @driver, violation], class: 'btn btn-xs btn-outline-primary' %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class='col-md-4'>
    <div class='row'>
      <div class='col-md-12'>
        <div class='secondary-header'>
          Licenses
          <span class='float-right'>
            <%= link_to 'Add License', [:new, :admin, @driver, :license], class: 'btn btn-sm btn-primary' %>
          </span>
        </div>
        <div class='table-responsive'>
          <table class='table table-sm small'>
            <thead class='small'>
              <tr>
                <th>Number</th>
                <th>Issue Date</th>
                <th>Expiry Date</th>
                <th>Restrictions</th>
                <th>Province</th>
              </tr>
            </thead>
            <tbody>
              <% @driver.licenses.each do |license| %>
                <tr>
                  <td><%= link_to license.number, [:admin, @driver, license], class: 'btn btn-xs btn-outline-primary' %></td>
                  <td><%= license.issue_date %></td>
                  <td><%= license.expiry_date %></td>
                  <td><%= license.restrictions %></td>
                  <td><%= license.province %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<%= link_to 'Back', [:admin, :drivers], class: 'btn btn-sm btn-secondary' %>
<%= link_to 'Edit', [:edit, :admin, @driver], class: 'btn btn-sm btn-danger' %>

