<%= simple_form_for([:admin, @vendor], html: { class: 'form' }) do |f| %>
  <div class='row'>
    <div class='col-md-6'>
      <div class='row'>
        <div class='col-sm-4'>
          <%= f.input :internal_name %>
        </div>
        <div class='col-sm-4'>
          <%= f.input :legal_name %>
        </div>
        <div class='col-sm-4'>
          <%= f.input :remit_name %>
        </div>
      </div>
      <div class='row'>
        <div class='col-sm-4'>
          <%= f.input :account_number %>
        </div>
        <div class='col-sm-4'>
          <%= f.input :website %>
        </div>
        <div class='col-sm-4'>
          <%= f.input :federal_id_number %>
        </div>
      </div>
      <div class='row'>
        <div class='col-sm-4'>
          <%= f.input :preferred_currency, collection: ['USD', 'CAD'] %>
        </div>
        <div class='col-sm-4'>
          <%= f.input :payment_terms %>
        </div>
        <div class='col-sm-4'>
          <%= f.input :required_1099 %>
        </div>
      </div>
      <div class='row'>
        <div class='col-sm-12'>
          <%= f.input :email %>
        </div>
      </div>
    </div>
    <div class='col-md-6'>
      <div class='row'>
        <div class='col-md-4'><%= f.input :vendor_type, collection: Vendor.vendor_types.keys %></div>
        <div class='col-md-4'><%= f.input :rating %></div>
        <div class='col-md-4'><%= f.input :contract_on_file %></div>
      </div>
      <div class='row'>
        <div class='col-md-4'><%= f.input :docker_number %></div>
        <div class='col-md-4'><%= f.input :dot_number %></div>
        <div class='col-md-4'><%= f.input :wcb_number %></div>
      </div>
      <div class='row'>
        <div class='col-md-4'><%= f.input :ca_bond_number %></div>
        <div class='col-md-4'><%= f.input :us_bond_number %></div>
        <div class='col-md-4'><%= f.input :scac %></div>
      </div>
      <div class='row'>
        <div class='col-md-4'><%= f.input :csa_approved %></div>
        <div class='col-md-4'><%= f.input :hazmat %></div>
        <div class='col-md-4'><%= f.input :hazmat_expiry_date, html5: true %></div>
      </div>
      <div class='row'>
        <div class='col-md-4'><%= f.input :smc3_tariff_code %></div>
        <div class='col-md-4'><%= f.input :approved %></div>
        <div class='col-md-4'></div>
      </div>
    </div>
  </div>
  <hr>
  <div class='row'>
    <div class='col-md-6'>
      <div class='secondary-header'>Liability Insurance</div>
      <div class='row'>
        <div class='col-md-7'><%= f.input :liability_insurance_provider %></div>
        <div class='col-md-5'><%= f.input :liability_policy_number, label: 'Policy Number'  %></div>
      </div>
      <div class='row'>
        <div class='col-md-4'><%= f.input :liability_coverage %></div>
        <div class='col-md-4'><%= f.input :liability_insurance_start_date, html5: true, label: 'Start Date' %></div>
        <div class='col-md-4'><%= f.input :liability_insurance_expiry_date, html5: true, label: 'Expiry Date'%></div>
      </div>
    </div>
    <div class='col-md-6'>
      <div class='secondary-header'>Cargo Insurance</div>
      <div class='row'>
        <div class='col-md-7'><%= f.input :cargo_insurance_provider %></div>
        <div class='col-md-5'><%= f.input :cargo_insurance_policy_number, label: 'Policy Number' %></div>
      </div>
      <div class='row'>
        <div class='col-md-4'><%= f.input :cargo_insurance_coverage %></div>
        <div class='col-md-4'><%= f.input :cargo_insurance_start_date, html5: true, label: 'Start Date' %></div>
        <div class='col-md-4'><%= f.input :cargo_insurance_expiry_date, html5: true, label: 'Expiry Date' %></div>
      </div>
    </div>
  </div>
  <hr>
  <div class='row'>
    <div class='col-md-6'>
      <div class='secondary-header'>Primary Address</div>
      <%= f.simple_fields_for :address do |va| %>
        <%= render 'shared/address_fields', ff: va %>
      <% end %>
      <div class='row'>
        <div class='col-md-4'><%= f.input :phone %></div>
        <div class='col-md-4'><%= f.input :toll_free %></div>
        <div class='col-md-4'><%= f.input :fax %></div>
      </div>
      <div class='row'>
        <div class='col-md-12'><%= f.input :remit_same_as_primary_address %></div>
      </div>
    </div>
    <div class='col-md-6'>
      <div class='secondary-header'>Remittance Address</div>
      <%= f.simple_fields_for :remit_address do |ra| %>
        <%= render 'shared/address_fields', ff: ra %>
      <% end %>
      <div class='row'>
        <div class='col-md-4'><%= f.input :remit_phone, label: 'Phone' %></div>
        <div class='col-md-4'><%= f.input :remit_toll_free, label: 'Toll Free' %></div>
        <div class='col-md-4'><%= f.input :remit_fax, label: 'Fax' %></div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-6'>
      <%= f.submit :Submit, class: 'btn btn-sm btn-primary' %>
      <%= link_to 'Back', back_url(@vendor), class: 'btn btn-sm btn-secondary' %>
    </div>
  </div>
<% end %>

<%= javascript_pack_tag :primary_secondary_address, defer: true %>
